# Файлы и папки операционной системы
*.ai
*.log
*.pdf
*.psd
*.sublime*
npm-debug.*
Thumbs.db
.DS_Store
.idea
layouts

# Вспомогательные файлы
build
dist
node_modules
materials
markup

# Файлы редактора
.history
.idea
*.sublime*
.vscode

# Файлы сборки
public/bundle.js
public/bundle.js.map
