.bg-controls {
  display: none;

  @media ($desktop) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
  }
}

.bg-controls__svg {
  @media ($desktop) {
    fill: $bg-color-svg--index;
  }
}

.bg-controls__button {
  @media ($desktop) {
    background: none;
    border: none;
    border-radius: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 5px;
    appearance: none;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;

      .bg-controls__svg {
        @include icon-glitch;
      }
    }

    &:active {
      opacity: 0.3;
    }

    &--prev {
      transform: rotate(180deg);
    }
  }
}
