.breadcrumbs {
  @include list-reset;

  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.breadcrumbs__item {
  font-family: font-family(source);
  font-size: font-size(breadcrumbs);
  line-height: font-lh(breadcrumbs);
  font-weight: font-weight(light);
  color: $font-color-breadcrumbs;
  text-transform: capitalize;
  display: inline-block;

  &::after {
    content: "/\2002";
  }

  &:last-child {
    &::after {
      content: "";
    }
  }

  @media ($tablet) {
    &::after {
      content: "/";
    }
  }

  @media ($desktop) {
    font-size: font-size(breadcrumbs-t);
    line-height: font-lh(breadcrumbs-t);
  }
}

.breadcrumbs__link {
  @include link;

  color: $font-color-breadcrumbs--link;
}
