.button-holder {
  position: fixed;
  z-index: 200;
  top: calc(50vh + 60px);
  left: 50%;
  transform: translateX(-50%);

  @media ($tablet) {
    top: calc(50vh + 90px);
  }

  @media ($desktop) {
    top: calc(50vh + 130px);
  }
}
