.catalog {
  width: 100%;
  padding: 20px 0 0;
}

.catalog__inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  @media ($tablet) {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.catalog__item {
  width: 100%;
  display: block;
  margin-bottom: 50px;
  overflow: hidden;

  @media ($tablet) {
    width: 33%;
  }

  @media ($desktop) {
    width: 25%;
  }

  @media ($desktop-xl) {
    width: 20%;
  }
}

.catalog__item-name {
  font-weight: font-weight(light);
  font-size: font-size(catalog-item-name-m);
  line-height: font-lh(catalog-item-name-m);
  margin: 5px 0;
  color: $font-color-item-name;
  text-transform: capitalize;

  @media ($tablet) {
    font-size: font-size(catalog-item-name-t);
    line-height: font-lh(catalog-item-name-t);
  }
}

.catalog__link {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    .catalog__item-name {
      font-weight: font-weight(regular);
    }
  }

  &:active {
    opacity: 0.6;
  }

  @media ($tablet) {
    min-height: 310px;
    justify-content: space-between;
  }
}

.catalog__image-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.catalog__item-thumbnail {
  margin: 0 auto;
}

.catalog__item-info {
  width: 100%;
  text-align: center;
  padding: 10px 20px 0;
  margin-top: auto;
}

.catalog__item-price {
  font-weight: font-weight(regular);
  font-size: font-size(catalog-item-price-m);
  line-height: font-lh(catalog-item-price-m);
  color: $font-color-base;

  @media ($tablet) {
    font-size: font-size(catalog-item-price-t);
    line-height: font-lh(catalog-item-price-t);
  }
}
