.loader {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  @include svgGlitchMobile("legion-logo", 30, none, none, white, lime, magenta, aqua, 510px, auto);

  @media ($tablet) {
    @include svgGlitch("legion-logo", 30, none, none, white, lime, magenta, aqua, 510px, auto);
  }

  .loader__logo {
    position: absolute;
    width: 220px;
    height: 65px;

    @media ($tablet) {
      width: 400px;
      height: 117px;
    }

    @media ($desktop) {
      width: 600px;
      height: 175px;
    }

    path {
      stroke-dashoffset: 6020;
      stroke-dasharray: 6020;
      animation: dash 10s linear forwards;
    }
  }
}
