.page {
  margin: 0;
  padding: 0;
  min-width: $mobile-width;
  font-size: font-size(base-m);
  line-height: font-lh(base-m);
  color: $font-color-base;
  background-color: $bg-color-body;

  &--no-overflow {
    overflow: hidden;
  }

  &--front {
    @include scrollbar-index;

    background-color: $bg-color-body--index;
    color: $font-color-base--index;

    .search {
      background-color: $bg-color-search--index;
    }

    .search__label {
      color: $font-color-label--index;
    }

    .search__input {
      color: $font-color-input--index;
      border-color: $border-color-input--index;

      &:hover,
      &:focus {
        border-image: linear-gradient(to right, $gradient-start--index, $gradient-stop--index);
        border-image-slice: 1;
      }
    }

    .search__close,
    .cart__close,
    .site-nav__close-button {
      &::before,
      &::after {
        background: linear-gradient(to right, $gradient-start--index, $gradient-stop--index);
      }
    }

    .site-nav {
      @include scrollbar-index;

      top: 0;
      left: -100%;
      z-index: 400;
      opacity: 0;
      background-color: $bg-color-menu--index;

      &--open {
        left: 0;
        opacity: 1;
      }
    }

    .site-nav__overlay {
      display: block;
      top: 0;
      height: 100%;
    }

    .site-nav__menu {
      margin-top: 30px;
    }

    .site-header {
      background-color: $bg-color-header--index;
    }

    .site-header__inner {
      align-items: flex-start;
    }

    .hamburger {
      &--bar {
        background-color: $bg-color-hamburger--index;
      }
    }

    .user-nav__list {
      flex-flow: column nowrap;
    }

    .user-nav__item {
      margin-bottom: 15px;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }

      @media ($tablet) {
        margin-bottom: 20px;
      }
    }

    .site-nav__developer-svg,
    .socials__svg,
    .user-nav__svg {
      fill: $bg-color-svg--index;
    }

    .cart {
      @include scrollbar-index;

      background-color: $bg-color-cart--index;
      top: 0;
    }

    .cart__overlay {
      top: 0;
      height: 100%;
    }

    .cart__footer-total,
    .cart__header,
    .cart__item {
      border-color: $border-color-separator--index;
    }

    .cart__footer-link,
    .cart__info-empty--link,
    .cart__item-link,
    .site-nav__item-link {
      color: $font-color-link--index;

      &::after {
        background: linear-gradient(to right, $gradient-start--index, $gradient-stop--index);
      }
    }

    .cart__footer-total,
    .cart__info-empty,
    .cart__item-description,
    .cart__item-quantity,
    .site-nav__developer-text {
      color: $font-color-base--index;
    }
  }

  &--inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .main-content {
      margin-top: 65px;
      padding: 0 15px;

      @media ($tablet) {
        padding: 0 20px;
      }

      @media ($desktop) {
        padding-left: 340px;
        padding-right: 20px;
      }
    }
  }
}
