.page-title {
  font-family: font-family(source);
  font-size: font-size(page-title);
  font-weight: font-weight(regular);
  line-height: font-lh(page-title);
  color: $font-color-page-title;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;

  @media ($tablet) {
    margin-top: 20px;
    font-size: font-size(page-title-t);
    line-height: font-lh(page-title-t);
  }

  @media ($desktop) {
    padding-left: 50px;
  }
}
