.product {
  width: 100%;
  padding: 15px 0;

  .breadcrumbs {
    margin-bottom: 15px;
  }

  @media ($tablet) {
    .breadcrumbs {
      display: none;
      margin-bottom: 20px;
    }
  }
}

.product__inner {
  display: flex;
  flex-flow: column nowrap;

  @media ($tablet) {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
}

.product__image-gallery {
  width: 100%;

  @media ($tablet) {
    width: 60%;
    margin: 0;
  }
}

.product__gallery-controls {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  text-align: center;
  z-index: 5;
}

.product__gallery-controls-dot {
  display: inline-block;
  width: 12px;
  background: $bg-color-gallery-bullet;
  font-size: 0;
  line-height: 0;
  padding: 1px;
  margin-right: 10px;

  &--current {
    background: $dark;
  }

  &:last-child {
    margin-right: 0;
  }
}

.product__info {
  padding: 20px 0 0;

  .breadcrumbs {
    display: none;
  }

  @media ($tablet) {
    width: 40%;
    padding: 40px 0 0 20px;

    @include scrollbar;

    .breadcrumbs {
      display: block;
      width: 100%;
    }
  }

  @media ($desktop) {
    position: fixed;
    top: 65px;
    right: 20px;
    width: 30%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.product__name {
  font-size: font-size(product-name);
  line-height: font-lh(product-name);
  color: $font-color-product-name;
  font-weight: font-weight(bold);
  text-transform: uppercase;
  margin: 0 0 20px;
}

.product__price {
  font-size: font-size(product-price);
  line-height: font-lh(product-price);
  color: $font-color-product-price;
  font-weight: font-weight(regular);
  text-transform: uppercase;
  margin: 0 0 20px;
  display: inline-block;
}

.product__description {
  font-size: font-size(product-desc);
  line-height: font-lh(product-desc);
  color: $font-color-product-desc;
  font-weight: font-weight(regular);
  margin: 0 0 20px;
}

.product__care-info {
  margin: 0 0 20px;
  padding: 0;
  padding-left: 15px;

  li {
    font-size: font-size(product-desc);
    line-height: font-lh(product-desc);
    color: $font-color-product-desc;
    font-weight: font-weight(regular);
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.product__add-bag {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;

  @media ($desktop) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.product__size-select {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 15px;

  @media ($desktop) {
    width: 47.5%;
    margin-bottom: 0;
  }
}

.product__select-svg {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  fill: $bg-color-svg;
  z-index: 3;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.product__size {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid $border-color-input--select;
  background-color: $bg-color-input--select;
  border-radius: 0;
  font-weight: font-weight(regular);
  color: $font-color-input--select;
  width: 100%;
  height: 40px;
  font-size: font-size(product-size);
  line-height: 38px;
  padding: 0 40px 0 15px;
  appearance: none;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 2;
  transition: color 0.3s ease, background 0.3s ease;

  option {
    color: $font-color-input--select;
    background: $bg-color-input--select;
  }

  &:hover,
  &:focus {
    background: $bg-color-input--select-hover;
    outline: none;
    color: $font-color-input--select-hover;

    + .product__select-svg {
      fill: $bg-color-svg--hover;
    }
  }

  &:focus {
    + .product__select-svg {
      transform: translate(0, -50%) rotate(180deg);
    }
  }
}

.product__submit {
  width: 100%;
  min-height: 40px;
  font-size: font-size(product-submit);
  background-color: $bg-color-input--add-bag;
  color: $font-color-input--add-bag;
  transition: background 0.3s ease, color 0.3s ease;

  @media ($desktop) {
    width: 47.5%;
    min-width: auto;
    font-size: font-size(product-submit-d);
  }
}

.product__helpers {
  @include list-reset;

  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $border-color-separator;

  @media ($desktop) {
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 0;
  }
}

.product__helper-item {
  margin-bottom: 20px;
  display: inline-block;

  &:last-child {
    margin-bottom: 0;
  }

  @media ($desktop) {
    margin-bottom: 0;
    width: 50%;
    text-align: center;
    flex-grow: 1;
    margin-top: 20px;

    &:nth-child(-n+2) {
      margin-top: 0;
    }
  }
}

.product__helper-link {
  @include link;

  font-weight: font-weight(light);
  color: $font-color-link;
  font-size: font-size(product-helper);
  line-height: font-size(product-helper);

  @media ($tablet) {
    font-size: font-size(product-helper-t);
    line-height: font-size(product-helper-t);
  }
}
