.size {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  .page-title {
    @media ($tablet) {
      margin-bottom: 30px;
    }

    @media ($desktop) {
      margin-bottom: 50px;
    }
  }
}

.size__buttons {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  @media ($tablet) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  @media ($desktop) {
    padding-left: 50px;
  }
}

.size__button {
  width: 100%;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    background-color: $bg-color-button--dark;
    color: $font-color-button--light;

    &:hover,
    &:focus {
      background-color: $bg-color-button--dark;
      color: $font-color-button--light;

      &::before,
      &::after {
        content: none;
        animation: none;
      }
    }
  }

  @media ($tablet) {
    width: 30%;
    margin-bottom: 0;
  }
}

.size__item {
  width: 100%;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

  &--active {
    display: flex;
  }

  @media ($tablet) {
    flex-flow: row nowrap;
  }

  @media ($desktop) {
    padding-left: 50px;
  }
}

.size__image-wrapper {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  @media ($tablet) {
    width: 40%;
    margin-bottom: 0;
  }
}

.size__image {
  display: block;

  @media ($tablet) {
    width: 100%;
    height: auto;
  }
}

.size__description {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  @media ($tablet) {
    width: 59%;
  }
}

.size__list {
  @include list-reset;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.size__list-item {
  width: 15%;
}

.size__label {
  min-width: auto;
  width: 100%;

  &--active {
    background-color: $bg-color-button--dark;
    color: $font-color-button--light;

    &:hover,
    &:focus {
      background-color: $bg-color-button--dark;
      color: $font-color-button--light;

      &::before,
      &::after {
        content: none;
        animation: none;
      }
    }
  }

  @media ($tablet) {
    min-width: auto;
  }

  @media ($desktop) {
    min-width: auto;
  }
}

.size__title {
  padding: 7px 0;
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
  font-weight: font-weight(regular);
  font-size: font-size(size-title-m);
  line-height: font-lh(size-title-m);
  color: $font-color-size-title;
  background-color: $bg-color-size-title;
  text-align: center;
  text-transform: uppercase;

  @media ($tablet) {
    font-size: font-size(size-title-t);
    line-height: font-lh(size-title-t);
  }

  @media ($desktop) {
    padding: 8px 0;
    font-size: font-size(size-title-d);
    line-height: font-lh(size-title-d);
  }
}

.size__info-list {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.size__info-term {
  width: 100%;
  font-weight: font-weight(bold);
  font-size: font-size(size-info-m);
  line-height: font-lh(size-info-m);

  @media ($tablet) {
    font-size: font-size(size-info-t);
    line-height: font-lh(size-info-t);
  }

  @media ($desktop) {
    font-size: font-size(size-info-d);
    line-height: font-lh(size-info-d);
  }
}

.size__info-data {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  font-weight: font-weight(regular);
  font-size: font-size(size-text-m);
  line-height: font-lh(size-text-m);

  &:last-of-type {
    margin-bottom: 0;
  }

  @media ($tablet) {
    font-size: font-size(size-text-t);
    line-height: font-lh(size-text-t);
  }

  @media ($desktop) {
    font-size: font-size(size-text-d);
    line-height: font-lh(size-text-d);
  }
}

.size__table {
  width: 100%;
  background-color: transparent;
  font-weight: font-weight(regular);
  font-size: font-size(size-table-m);
  line-height: font-lh(size-table-m);
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin-bottom: 10px;

  td,
  th {
    border: 1px solid $border-color-size;
    padding: 5px;
  }

  @media ($tablet) {
    font-size: font-size(size-table-t);
    line-height: font-lh(size-table-t);
    margin-bottom: 20px;
  }

  @media ($desktop) {
    font-size: font-size(size-table-d);
    line-height: font-lh(size-table-d);
  }
}

.size__table-head {
  font-weight: font-weight(bold);

  th {
    padding: 10px 5px;
    font-size: font-size(size-table-head-m);

    @media ($tablet) {
      font-size: font-size(size-table-head-t);
    }

    @media ($desktop) {
      font-size: font-size(size-table-head-d);
    }
  }
}

.size__table-row {
  background-color: $bg-color-size-row;

  &--active {
    background-color: $bg-color-size-row--active;
  }
}

.size__note {
  font-weight: font-weight(light);
  font-size: font-size(size-table-head-m);
  margin: 0;
  margin-bottom: 20px;

  @media ($tablet) {
    font-size: font-size(size-table-head-t);
    margin-bottom: 40px;
  }

  @media ($desktop) {
    font-size: font-size(size-table-head-d);
  }
}
