@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Source Code Pro Regular"), local("SourceCodePro-Regular"), url("../fonts/SourceCodePro-Regular.woff2") format("woff2"), url("../fonts/SourceCodePro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Source Code Pro Light"), local("SourceCodePro-Light"), url("../fonts/SourceCodePro-Light.woff2") format("woff2"), url("../fonts/SourceCodePro-Light.woff") format("woff");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Source Code Pro Bold"), local("SourceCodePro-Bold"), url("../fonts/SourceCodePro-Bold.woff2") format("woff2"), url("../fonts/SourceCodePro-Bold.woff") format("woff");
}
