// SVG Stroke transition
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

@keyframes spin-out {
  0% {
    transform: translateY(-50%) rotate(360deg);
  }

  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}

@keyframes spin-alt {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-out-alt {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes hamburger-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hamburger-spin-out {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes color-change {
  0% {
    fill: $gradient-start;
  }

  50% {
    fill: $gradient-stop;
  }

  100% {
    fill: $gradient-start;
  }
}

@keyframes effect_dylan {
  50% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }

  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }

  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

@keyframes icon-glitch {
  0% {
    filter: drop-shadow(1px 2px 0 magenta) drop-shadow(-1px -2px 0 aqua);
  }

  25% {
    filter: drop-shadow(-2px -1px 0 peachpuff) drop-shadow(2px 1px 0 lime);
  }

  50% {
    filter: drop-shadow(1px 1px 0 magenta) drop-shadow(-1px -1px 0 aqua);
  }

  75% {
    filter: drop-shadow(1px 2px 0 peachpuff) drop-shadow(-1px -2px 0 lime);
  }

  100% {
    filter: drop-shadow(-2px 2px 0 magenta) drop-shadow(2px -2px 0 aqua);
  }
}

@keyframes glitch-button {
  0% {
    clip: rect(-3px, 600px, 0, 0);
  }

  5.88235% {
    clip: rect(0, 600px, 0, 0);
  }

  11.76471% {
    clip: rect(-3px, 600px, 0, 0);
  }

  17.64706% {
    clip: rect(-3px, 600px, 0, 0);
  }

  23.52941% {
    clip: rect(100px, 600px, 100px, 0);
  }

  29.41176% {
    clip: rect(0, 600px, 600px, 0);
  }

  35.29412% {
    clip: rect(100px, 600px, 0, 0);
  }

  41.17647% {
    clip: rect(0, 600px, 600px, 0);
  }

  47.05882% {
    clip: rect(100px, 600px, 0, 0);
  }

  52.94118% {
    clip: rect(-3px, 600px, 0, 0);
  }

  58.82353% {
    clip: rect(100px, 450px, 100px, 0);
  }

  64.70588% {
    clip: rect(0, 450px, 0, 0);
  }

  70.58824% {
    clip: rect(100px, 450px, 100px, 0);
  }

  76.47059% {
    clip: rect(0, 450px, 0, 0);
  }

  82.35294% {
    clip: rect(0, 450px, 0, 0);
  }

  88.23529% {
    clip: rect(0, 450px, 0, 0);
  }

  94.11765% {
    clip: rect(0, 450px, 0, 0);
  }

  100% {
    clip: rect(0, 450px, 0, 0);
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes ld-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  30% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
