.cart__footer {
  width: 100%;
}

.cart__item {
  width: 100%;
  padding: 15px 0;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid $border-color-separator;

  &--empty {
    padding: 30px 15px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &:first-child {
    display: none;
    border: none;
  }

  &:last-child {
    border: none;
  }
}

.cart__item-info {
  width: 60%;
  flex-grow: 1;
}

.cart__item-quantity {
  color: $font-color-base;
  padding: 0;
  margin: 0;
  font-size: font-size(cart-quantity);
  line-height: font-lh(cart-quantity);

  &--empty {
    display: none;
  }

  &--fill {
    font-size: 100%;
  }
}

.cart {
  @include scrollbar;

  position: fixed;
  top: 0;
  right: 0;
  display: block;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: $bg-color-cart;
  overflow-y: auto;
  visibility: hidden;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;

  @media ($tablet) {
    max-width: 500px;
    right: -100%;
    transition: right 0.5s ease, visibility 0.5s ease;
    padding: 20px;
  }

  &--empty {
    .cart__item:first-child {
      display: block;
    }

    .cart__item:not(:first-child) {
      display: none;
    }

    .cart__footer {
      display: none;
    }

    .cart__item-info {
      width: 100%;
    }

    .cart__item-quantity {
      &--empty {
        display: block;
      }

      &--fill {
        display: none;
      }
    }
  }
}

.cart__inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.cart__header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid $border-color-separator;
}

.cart__close {
  border: none;
  background: none;
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  margin-top: -5px;
  width: 30px;
  height: 25px;
  padding: 5px;
  position: relative;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    width: 20px;
    height: 1px;
    background-color: $bg-color-hamburger;
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(135deg);
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      background: linear-gradient(to right, $gradient-start, $gradient-stop);
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media ($desktop) {
    animation: spin-out-alt 0.6s ease;

    &:hover,
    &:focus {
      outline: none;
      animation: spin-alt 0.6s ease;
    }
  }
}

.cart__list {
  @include list-reset;

  width: 100%;
}

.cart__info--empty {
  color: $font-color-base;
  font-size: font-size(cart-empty-text);
  line-height: font-lh(cart-empty-text);
  font-weight: font-weight(bold);
  padding: 0;
  margin: 0;
  text-align: center;

  &--link {
    @include link;

    display: inline-block;
    line-height: font-lh(cart-empty-link);
    font-size: font-size(cart-empty-link);
    font-weight: font-weight(light);
  }
}

.cart__image-wrapper {
  width: 100px;
  margin-right: 10px;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.cart__image-link {
  display: block;
  font-size: 0;
  line-height: 0;

  &:active {
    opacity: 0.3;
  }
}

.cart__item-remove {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: $font-color-remove;
  font-size: font-size(cart-remove-text);
  font-weight: font-weight(light);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.cart__item-name {
  margin: 0;
  padding: 0;
  font-size: font-size(cart-item-name);
  line-height: font-lh(cart-item-name);
  text-transform: capitalize;
  font-weight: font-weight(regular);
}

.cart__item-link {
  @include link;

  color: $font-color-base;
}

.cart__item-description {
  color: $font-color-base;
  padding: 0 40px 0 0;
  margin: 5px 0 0;
  font-size: font-size(cart-item-desc);
  line-height: font-lh(cart-item-desc);
  font-weight: font-weight(light);
}

.cart__item-size--value,
.cart__item-price--value,
.cart__item-quantity--value {
  text-transform: uppercase;
  font-weight: font-weight(regular);
}

.cart__footer-total {
  color: $font-color-base;
  margin: 0;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid $border-color-separator;
  border-top: 1px solid $border-color-separator;
  text-transform: uppercase;
  font-size: font-size(cart-subtotal);
  line-height: font-lh(cart-subtotal);
  font-weight: font-weight(light);

  &--value {
    font-weight: font-weight(bold);
  }
}

.cart__footer-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 0;
}

.cart__footer-link {
  @include link;

  text-transform: uppercase;
  color: $font-color-base;
  text-align: center;
  font-size: font-size(cart-link);
  line-height: font-lh(cart-link);
  font-weight: font-weight(light);

  @media ($tablet) {
    br {
      display: none;
    }
  }
}
