.site-nav {
  @include scrollbar;

  display: block;
  position: fixed;
  left: -100%;
  width: 100%;
  overflow-y: auto;
  z-index: 400;
  background-color: $bg-color-menu;
  opacity: 0;
  transition: opacity 0.5s ease, left 0.5s ease;
  top: 50px;
  height: 100%;

  @media ($tablet) {
    max-width: 320px;
    top: 65px;
  }

  @media ($desktop) {
    left: 0;
    opacity: 1;
    z-index: 1;
  }
}

.site-nav--open {
  opacity: 1;
  left: 0;
}

.site-nav__overlay {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  top: 50px;
  height: calc(100% - 50px);

  &--visible {
    visibility: visible;
    opacity: 1;

    @media ($tablet) {
      visibility: visible;
      opacity: 1;
      top: 65px;
      height: calc(100% - 65px);
      z-index: 399;
    }
  }

  @media ($desktop) {
    display: none;
  }
}

.site-nav__inner {
  padding: 15px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  @media ($tablet) {
    padding: 20px;
  }
}

.site-nav__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 65px;
}

.site-nav__close-button {
  @include close-button;
}

.site-nav__list {
  @include list-reset;

  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 25px;
}

.site-nav__item {
  padding: 10px 0;

  &--spacer {
    padding: 25px 0;
  }
}

.site-nav__item-link {
  @include link;

  color: $font-color-link;
  font-size: font-size(menu-link);
  line-height: font-lh(menu-link);
  font-weight: font-weight(light);
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background: none;
}

.site-nav__footer {
  padding: 40px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: auto;

  .socials {
    padding: 0 45px;
  }
}

.site-nav__developer {
  width: 200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.site-nav__developer-text {
  margin: 0;
  padding: 0;
  color: $font-color-base;
  font-weight: font-weight(light);
  font-size: font-size(menu-dev);
  line-height: font-lh(menu-dev);
}

.site-nav__developer-list {
  @include list-reset;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}

.site-nav__developer-svg {
  fill: $bg-color-svg;

  @media ($tablet) {
    width: 25px;
    height: 25px;
  }
}

.site-nav__developer-link {
  &:hover,
  &:focus {
    outline: none;

    .site-nav__developer-svg {
      @include icon-glitch;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.site-nav__client-list {
  @include list-reset;

  display: none;
  flex-flow: column nowrap;
  padding-left: 20px;
  padding-top: 10px;
}

.site-nav__client-item {
  padding: 10px 0;

  &:last-of-type {
    padding-bottom: 0;
  }

  .site-nav__item-link {
    &:not([href]) {
      font-weight: font-weight(regular);
      cursor: default;
      position: relative;

      &:hover,
      &:focus,
      &:active {
        opacity: 1;
      }

      &::before {
        content: "– ";
      }

      &::after {
        content: none;
      }
    }
  }
}
