.site-header {
  position: fixed;
  z-index: 200;
  width: 100%;
  background-color: $bg-color-header;
}

.site-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.site-header__logo {
  margin-left: 15px;

  @media ($tablet) {
    margin-left: 20px;
  }
}

.site-header__logo-link {
  display: block;

  svg {
    stroke: $black;
    stroke-width: 1.5px;
  }

  &:hover,
  &:focus {
    outline: none;

    svg {
      @include icon-glitch;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.site-header__hamburger {
  padding: 10px;

  @media ($tablet) {
    padding: 15px;
  }
}

.site-header__toggler {
  padding: 5px;
}
