// Media BreakPoints
$mobile-width: 320px;
$mobile-l-width: 425px;
$tablet-width: 768px;
$desktop-width: 1366px;

$mobile-l-max-width: ($tablet-width - 1);

$retina-dpi: 144dpi;

$mobile: "min-width: #{$mobile-width}";
$mobile-l: "min-width: #{$mobile-l-width}";
$tablet: "min-width: #{$tablet-width}";
$desktop: "min-width: #{$desktop-width}";

$mobile-l-only: "min-width: #{$mobile-l-width}) and (max-width: #{$mobile-l-max-width}";

$retina: "min-resolution: #{$retina-dpi}";

// Padding Variables
$paddings: (
  container-m: 0 15px,
  container-t: 0 20px,
  container-d: 0 20px,
);

// Font Variables
$font-stack: (
  source: ("Source Code Pro", monospace),
);

$font-weights: (
  light: 300,
  normal: 400,
  regular: 400,
  bold: 700,
);

// Line Heights
$line-height-12: 12px;
$line-height-14: 14px;
$line-height-16: 16px;
$line-height-18: 18px;
$line-height-20: 20px;
$line-height-22: 22px;
$line-height-24: 24px;
$line-height-26: 26px;
$line-height-28: 28px;
$line-height-30: 30px;
$line-height-32: 32px;
$line-height-34: 34px;
$line-height-36: 36px;
$line-height-38: 38px;
$line-height-40: 40px;
$line-height-42: 42px;
$line-height-44: 44px;
$line-height-46: 46px;


$font-line-height: (
  base-m: $line-height-18,
  base-t: $line-height-20,
  base-d: $line-height-20,
  cart-quantity: $line-height-16,
  cart-empty-text: $line-height-26,
  cart-empty-link: $line-height-26,
  cart-remove-text-m: $line-height-20,
  cart-item-name-m: $line-height-18,
  cart-item-desc-m: $line-height-26,
  cart-subtotal-m: $line-height-18,
  cart-link-m: $line-height-18,
  cart-remove-text: $line-height-22,
  cart-item-name: $line-height-20,
  cart-item-desc: $line-height-28,
  cart-subtotal: $line-height-20,
  cart-link: $line-height-20,
  menu-dev: $line-height-16,
  menu-link: $line-height-18,
  search-label-m: $line-height-18,
  search-label-t: $line-height-22,
  search-label-d: $line-height-26,
  search-input-m: $line-height-18,
  search-input-t: $line-height-22,
  search-input-d: $line-height-26,
  button-m: $line-height-14,
  button-t: $line-height-16,
  button-d: $line-height-20,
  copyright: $line-height-16,
);

// Font Sizes
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-42: 42px;

$font-sizes: (
  base-m: $font-size-14,
  base-t: $font-size-16,
  base-d: $font-size-16,
  cart-quantity: $font-size-12,
  cart-empty-text: $font-size-18,
  cart-empty-link: $font-size-16,
  cart-remove-text-m: $font-size-10,
  cart-item-name-m: $font-size-14,
  cart-item-desc-m: $font-size-12,
  cart-subtotal-m: $font-size-14,
  cart-link-m: $font-size-14,
  cart-remove-text: $font-size-12,
  cart-item-name: $font-size-16,
  cart-item-desc: $font-size-14,
  cart-subtotal: $font-size-16,
  cart-link: $font-size-16,
  menu-dev: $font-size-12,
  menu-link: $font-size-16,
  search-label-m: $font-size-14,
  search-label-t: $font-size-18,
  search-label-d: $font-size-22,
  search-input-m: $font-size-14,
  search-input-t: $font-size-18,
  search-input-d: $font-size-22,
  button-m: $font-size-12,
  button-t: $font-size-14,
  button-d: $font-size-18,
  copyright: $font-size-14,
);

// Color Variables
// Define Color Vars
$black: #000000;
$white: #ffffff;
$dark: #111111;
$red: #ff0000;
$transparent: transparent;

// $gradient-start: rgba(250, 111, 152, 1);
// $gradient-stop: rgba(255, 189, 55, 1);
$gradient-start: $dark;
$gradient-stop: $dark;

$gradient-start--index: $white;
$gradient-stop--index: $white;

// Background Colors
$bg-color-body: $white;
$bg-color-body--index: $dark;
$bg-color-svg: $dark;
$bg-color-svg--index: $white;
$bg-color-cart: $white;
$bg-color-cart--index: $dark;
$bg-color-hamburger: $dark;
$bg-color-hamburger--index: $white;
$bg-color-header: $white;
$bg-color-header--index: $transparent;
$bg-color-menu: $white;
$bg-color-menu--index: $dark;
$bg-color-overlay: rgba($black, 0.3);
$bg-color-search: $white;
$bg-color-search--index: $dark;
$bg-color-input: $transparent;
$bg-color-button--light: $white;
$bg-color-button--dark: $dark;
$bg-color-footer: $white;

// Border Colors
$border-color-separator: $dark;
$border-color-separator--index: $white;
$border-color-input: $dark;
$border-color-input--index: $white;
$border-color-button--light: $white;
$border-color-button--dark: $dark;

// Font Colors
$font-color-base: $dark;
$font-color-base--index: $white;
$font-color-remove: $red;
$font-color-link: $dark;
$font-color-link--index: $white;
$font-color-input: $dark;
$font-color-input--index: $white;
$font-color-label: $dark;
$font-color-label--index: $white;
$font-color-button--light: $white;
$font-color-button--dark: $dark;
$font-color-footer: $dark;
