// Media BreakPoints
$mobile-width: 320px;
$mobile-l-width: 425px;
$tablet-width: 768px;
$desktop-width: 1366px;
$desktop-xl-width: 2560px;

$mobile-l-max-width: ($tablet-width - 1);

$retina-dpi: 144dpi;

$mobile: "min-width: #{$mobile-width}";
$mobile-l: "min-width: #{$mobile-l-width}";
$tablet: "min-width: #{$tablet-width}";
$desktop: "min-width: #{$desktop-width}";
$desktop-xl: "min-width: #{$desktop-xl-width}";

$mobile-l-only: "min-width: #{$mobile-l-width}) and (max-width: #{$mobile-l-max-width}";

$retina: "min-resolution: #{$retina-dpi}";

// Padding Variables
$paddings: (
  container-m: 0 15px,
  container-t: 0 20px,
  container-d: 0 20px,
);

// Font Variables
$font-stack: (
  source: ("Source Code Pro", monospace),
);

$font-weights: (
  light: 300,
  normal: 400,
  regular: 400,
  bold: 700,
);

// Line Heights
$line-height-12: 12px;
$line-height-14: 14px;
$line-height-16: 16px;
$line-height-18: 18px;
$line-height-20: 20px;
$line-height-22: 22px;
$line-height-24: 24px;
$line-height-26: 26px;
$line-height-28: 28px;
$line-height-30: 30px;
$line-height-32: 32px;
$line-height-34: 34px;
$line-height-36: 36px;
$line-height-38: 38px;
$line-height-40: 40px;
$line-height-42: 42px;
$line-height-44: 44px;
$line-height-46: 46px;


$font-line-height: (
  base-m: $line-height-18,
  base-t: $line-height-20,
  base-d: $line-height-20,
  cart-quantity: $line-height-16,
  cart-empty-text: $line-height-26,
  cart-empty-link: $line-height-26,
  cart-remove-text-m: $line-height-20,
  cart-item-name-m: $line-height-18,
  cart-item-desc-m: $line-height-26,
  cart-subtotal-m: $line-height-18,
  cart-link-m: $line-height-18,
  cart-remove-text: $line-height-22,
  cart-item-name: $line-height-20,
  cart-item-desc: $line-height-28,
  cart-subtotal: $line-height-20,
  cart-link: $line-height-20,
  cartp-item-name-m: $line-height-18,
  cartp-item-name-t: $line-height-20,
  cartp-quantity-input-m: $line-height-20,
  cartp-quantity-input-t: $line-height-22,
  cartp-item-text-m: $line-height-18,
  cartp-item-text-t: $line-height-20,
  cartp-subtotal-m: $line-height-20,
  cartp-subtotal-t: $line-height-20,
  cartp-empty-text-m: $line-height-26,
  cartp-empty-text-t: $line-height-28,
  cartp-empty-link-m: $line-height-26,
  cartp-empty-link-t: $line-height-26,
  menu-dev: $line-height-16,
  menu-link: $line-height-18,
  search-label-m: $line-height-18,
  search-label-t: $line-height-22,
  search-label-d: $line-height-26,
  search-input-m: $line-height-18,
  search-input-t: $line-height-22,
  search-input-d: $line-height-26,
  searchp-title-m: $line-height-24,
  searchp-title-t: $line-height-26,
  searchp-title-d: $line-height-28,
  form-label-m: $line-height-18,
  form-label-t: $line-height-22,
  form-label-d: $line-height-24,
  form-input-m: $line-height-18,
  form-input-t: $line-height-22,
  form-input-d: $line-height-24,
  button-m: $line-height-14,
  button-t: $line-height-16,
  button-d: $line-height-20,
  copyright: $line-height-16,
  catalog-item-name-m: $line-height-18,
  catalog-item-name-t: $line-height-18,
  catalog-item-price-m: $line-height-18,
  catalog-item-price-t: $line-height-18,
  breadcrumbs: $line-height-18,
  breadcrumbs-t: $line-height-20,
  product-name: $line-height-24,
  product-price: $line-height-22,
  product-desc: $line-height-20,
  product-helper: $line-height-18,
  product-helper-t: $line-height-20,
  page-title: $line-height-28,
  page-title-t: $line-height-32,
  page-subtitle-m: $line-height-22,
  page-subtitle-t: $line-height-26,
  page-text-m: $line-height-20,
  page-text-t: $line-height-22,
  page-text-d: $line-height-24,
  team-text: $line-height-22,
  team-name: $line-height-20,
  error-text-m: $line-height-24,
  error-text-t: $line-height-28,
  error-text-d: $line-height-32,
  error-404-m: 1.2,
  error-404-t: 1.2,
  error-404-d: 50vh,
  size-title-m: $line-height-20,
  size-title-t: $line-height-22,
  size-title-d: $line-height-24,
  size-info-m: $line-height-22,
  size-info-t: $line-height-24,
  size-info-d: $line-height-26,
  size-text-m: $line-height-22,
  size-text-t: $line-height-24,
  size-text-d: $line-height-26,
  size-table-m: $line-height-20,
  size-table-t: $line-height-22,
  size-table-d: $line-height-24,
);

// Font Sizes
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-28: 28px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-34: 34px;
$font-size-36: 36px;
$font-size-38: 38px;
$font-size-40: 40px;
$font-size-42: 42px;

$font-sizes: (
  base-m: $font-size-14,
  base-t: $font-size-16,
  base-d: $font-size-16,
  cart-quantity: $font-size-12,
  cart-empty-text: $font-size-18,
  cart-empty-link: $font-size-16,
  cart-remove-text-m: $font-size-10,
  cart-item-name-m: $font-size-14,
  cart-item-desc-m: $font-size-12,
  cart-subtotal-m: $font-size-14,
  cart-link-m: $font-size-14,
  cart-remove-text: $font-size-12,
  cart-item-name: $font-size-16,
  cart-item-desc: $font-size-14,
  cart-subtotal: $font-size-16,
  cart-link: $font-size-16,
  cartp-item-name-m: $font-size-14,
  cartp-item-name-t: $font-size-16,
  cartp-quantity-input-m: $font-size-14,
  cartp-quantity-input-t: $font-size-16,
  cartp-item-text-m: $font-size-14,
  cartp-item-text-t: $font-size-16,
  cartp-subtotal-m: $font-size-16,
  cartp-subtotal-t: $font-size-18,
  cartp-empty-text-m: $font-size-18,
  cartp-empty-text-t: $font-size-20,
  cartp-empty-link-m: $font-size-16,
  cartp-empty-link-t: $font-size-18,
  menu-dev: $font-size-12,
  menu-link: $font-size-16,
  search-label-m: $font-size-14,
  search-label-t: $font-size-18,
  search-label-d: $font-size-22,
  search-input-m: $font-size-14,
  search-input-t: $font-size-18,
  search-input-d: $font-size-22,
  searchp-title-m: $font-size-20,
  searchp-title-t: $font-size-22,
  searchp-title-d: $font-size-24,
  form-label-m: $font-size-14,
  form-label-t: $font-size-18,
  form-label-d: $font-size-18,
  form-input-m: $font-size-14,
  form-input-t: $font-size-18,
  form-input-d: $font-size-18,
  button-m: $font-size-12,
  button-t: $font-size-14,
  button-d: $font-size-18,
  copyright: $font-size-14,
  catalog-item-name-m: $font-size-14,
  catalog-item-name-t: $font-size-14,
  catalog-item-price-m: $font-size-14,
  catalog-item-price-t: $font-size-14,
  breadcrumbs: $font-size-14,
  breadcrumbs-t: $font-size-16,
  product-name: $font-size-20,
  product-price: $font-size-18,
  product-desc: $font-size-14,
  product-size: $font-size-14,
  product-submit: $font-size-14,
  product-submit-d: $font-size-16,
  product-helper: $font-size-14,
  product-helper-t: $font-size-16,
  page-title: $font-size-24,
  page-title-t: $font-size-28,
  page-subtitle-m: $font-size-16,
  page-subtitle-t: $font-size-20,
  page-text-m: $font-size-14,
  page-text-t: $font-size-16,
  page-text-d: $font-size-16,
  team-text: $font-size-14,
  team-name: $font-size-18,
  error-text-m: $font-size-12,
  error-text-t: $font-size-14,
  error-text-d: $font-size-16,
  error-404-m: 10em,
  error-404-t: 15em,
  error-404-d: 40vh,
  size-title-m: $font-size-14,
  size-title-t: $font-size-16,
  size-title-d: $font-size-18,
  size-info-m: $font-size-16,
  size-info-t: $font-size-16,
  size-info-d: $font-size-18,
  size-text-m: $font-size-14,
  size-text-t: $font-size-14,
  size-text-d: $font-size-16,
  size-table-m: $font-size-12,
  size-table-t: $font-size-14,
  size-table-d: $font-size-16,
  size-table-head-m: $font-size-10,
  size-table-head-t: $font-size-12,
  size-table-head-d: $font-size-14,
);

// Color Variables
// Define Color Vars
$black: #000000;
$white: #ffffff;
$dark: #111111;
$red: #ff0000;
$light-grey: #cccccc;
$dark-grey: #343434;
$dark-black: #1a1a1a;
$transparent: transparent;

// Gradients
$gradient-start: $dark;
$gradient-stop: $dark;

$gradient-start--index: $white;
$gradient-stop--index: $white;

$gradient-start--error: $dark-black;
$gradient-stop--error: $dark-grey;

// Background Colors
$bg-color-body: $white;
$bg-color-body--index: $dark;
$bg-color-svg: $dark;
$bg-color-svg--index: $white;
$bg-color-svg--hover: $white;
$bg-color-cart: $white;
$bg-color-cart--index: $dark;
$bg-color-hamburger: $dark;
$bg-color-hamburger--index: $white;
$bg-color-header: $white;
$bg-color-header--index: $transparent;
$bg-color-menu: $white;
$bg-color-menu--index: $dark;
$bg-color-overlay: rgba($black, 0.3);
$bg-color-search: $white;
$bg-color-search--index: $dark;
$bg-color-input: $transparent;
$bg-color-input--add-bag: $dark;
$bg-color-input--select: $white;
$bg-color-input--select-hover: $dark;
$bg-color-button--light: $white;
$bg-color-button--dark: $dark;
$bg-color-footer: $white;
$bg-color-gallery-bullet: $light-grey;
$bg-color-size-title: $dark;
$bg-color-size-row: $transparent;
$bg-color-size-row--active: rgba($light-grey, 0.5);


// Border Colors
$border-color-separator: $dark;
$border-color-separator--index: $white;
$border-color-input: $dark;
$border-color-input--index: $white;
$border-color-input--select: $dark;
$border-color-input--error: $red;
$border-color-button--light: $white;
$border-color-button--dark: $dark;
$border-color-size: $light-grey;

// Font Colors
$font-color-base: $dark;
$font-color-base--index: $white;
$font-color-remove: $red;
$font-color-link: $dark;
$font-color-link--index: $white;
$font-color-input: $dark;
$font-color-input--index: $white;
$font-color-input--select: $dark;
$font-color-input--select-hover: $white;
$font-color-input--add-bag: $white;
$font-color-label: $dark;
$font-color-label--index: $white;
$font-color-button--light: $white;
$font-color-button--dark: $dark;
$font-color-footer: $dark;
$font-color-item-name: rgba($dark, 0.7);
$font-color-breadcrumbs: rgba($black, 0.6);
$font-color-breadcrumbs--link: $dark;
$font-color-product-name: $dark;
$font-color-product-price: $dark;
$font-color-product-desc: $dark;
$font-color-page-title: $dark;
$font-color-size-title: $white;
$font-color-error-404: $dark-grey;
$font-color-error-404--hover: $dark-black;
$font-color-error-text: $white;
